* {
  margin: 0;
  padding: 0;
}

:root {
  --background: #f2f4f8;
  --card: #fff;
  --font: #121619;
  --links: #0072c3;
}

body {
  font-family: 'Jost', sans-serif;
  color: var(--font, #161616);
  background:var(--background, #f4f4f4);
  margin: 1rem 5% 3rem;
  max-width: 1000px;
}

header {
  margin-bottom: 2rem;
}

.sub-header {
  white-space: nowrap;
}

.regular {
  font-weight: 400;
}

.thin {
  font-weight: 200;
}

a {
  color: var(--links, #0f62fe)
}

.work {
  font-size: 1.5rem;
  margin-bottom: 4rem;
  font-weight: 300;
}

.work p {
  margin-bottom: 2rem;
}

figure {
  position: relative;
  width: 600px;
}

figure:hover .note {
  opacity: 1;
}

.note {
  font-family:  'Nothing You Could Do', cursive;
  position: absolute;
  top: 75px;
  left: 300px;
  transition: opacity 250ms ease-in;
  opacity: 0;
}

.note__arrow {
  position: absolute;
  width: 12px;
  height: 12px;
  border-left: 1px solid var(--font, #161616);
  border-bottom: 1px solid var(--font, #161616);
  transform: rotate(33deg);
  top: 58px;
  left: -50px;
  border-radius: 18%;
}

.note__line {
  position: absolute;
  width: 64px;
  height: 15px;
  border-radius: 50%;
  border-bottom: 1px solid;
  border-color: transparent transparent var(--font, #161616) transparent;
  transform: rotate(-23deg);
  top: 43px;
  left: -51px;
}

.note__content {
  position: absolute;
  top: 14px;
  left: 10px;
  font-size: 1.25rem;
}
