* {
  margin: 0;
  padding: 0;
}

:root {
  --background: #f4f4f4;
  --card: #fff;
  --font: #161616;
  --links: #d12771;
}

body.dark-them {
  --background: #121619;
  --card: #21272a;
  --font: #f2f4f8;
  --links: #ffafd2;
}

body {
  font-family: 'Jost', sans-serif;
  color: var(--font, #161616);
  background:var(--background, #f4f4f4);
  margin: 1rem 5% 2rem;
  max-width: 1200px;
}

header {
  margin-bottom: 2rem;
}

.sub-header {
  white-space: nowrap;
}

.regular {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.thin {
  font-weight: 200;
}

.card {
  display: flex;
  flex-wrap: wrap;
  min-height: 400px;
  margin-bottom: 4rem;
  box-shadow: 1px 1px 3px rgba(200,200,200,.2);
  background: var(--card, #fff);
}

.card--reverse-wrap {
  flex-wrap: wrap-reverse;
}

.card__content {
  min-width: 250px;
  flex: 1;
  padding: 1rem 2rem;
}

.card__content p {
  margin-bottom: 1rem;
}

.card img {
  height: 100%;
  max-height: 600px;
}

a {
  color: var(--links, #0f62fe)
}
